@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100&family=Square+Peg&display=swap");

* {
  font-family: "Nunito Sans", sans-serif;
}

body {
  padding: 200px 5vw 0px 5vw;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 88vw;
  height: 90px;
  position: fixed;
  top: 0;
  background-color: white;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 25px;
    color: #fd5c63;
    font-weight: bolder;
  }

  > ul {
    width: 40vw;
    max-width: 400px;
    display: flex;
    justify-content: space-around;
  }
}

li {
  list-style: none;
}

.search-bar-mini {
  gap: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
  height: 30px;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 40px;
  padding: 10px;
  cursor: pointer;
  .search-bar-mini-end {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .search-bar-mini-end > button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: #fd5c63;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.search-bar-wrapper {
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 80px;
  background-color: #ffffff;
  z-index: 1;
  .search-bar {
    width: 60vw;
    max-width: 760px;
    padding: 5px 5px 5px 30px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    gap: 10px;
    position: fixed;

    .search-inp {
      display: flex;
      flex-direction: column;
      border-right: 1px solid rgb(188, 188, 188);
    }

    .search-bar-end {
      display: flex;
      align-items: center;
    }

    .flex1 {
      flex: 2;
    }

    .flex2 {
      flex: 1;
    }

    input {
      background: none;
      border: none;
    }

    select {
      background: none;
      border: none;
      appearance: none;
    }

    &-end {
      display: flex;
      justify-content: space-between;

      > .search-inp {
        display: flex;
        align-items: center;
        border-right: none;
      }

      > button {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        border: none;
        background-color: #fd5c63;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.header {
  display: flex;
  justify-content: center;
}

.filter {
  display: flex;
  gap: 50px;
  position: sticky;
  top: 80px;
  padding: 0px;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;

  .filter-btn {
    width: 100px;
    height: 40px;
    padding: 20px 10px;
    display: flex;
    border-radius: 10px;
    border: 1px solid rgb(198, 198, 198);
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
  }
}

.carousel {
  display: flex;
  width: 70vw;
  overflow: hidden;
}
.category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  min-width: 100px;
  height: 100px;
  font-size: 12px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  color: gray;

  img {
    width: 30px;
    height: 30px;
    opacity: 0.7;
  }
  img:hover {
    opacity: 1;
  }
}

.category:hover {
  color: black;
}

.carousel-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  .car-button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgb(136, 134, 134);
    background-color: #ffffff;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
  }
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 10px;
  column-gap: 2%;
}
.card {
  display: flex;
  width: 23.5%;
  flex-direction: column;
  background-color: #ffffff;
  img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    object-fit: cover;
  }
}

.footer-container {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid gray;
  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
